.authorByline {
  margin-top: 6px;
  display: flex;
  align-items: center;
}

.authorLabel {
  padding-top: 5px;
  line-height: 0.5;
  font-weight: bold;
}

.authorProfileImage {
  display: inline-block;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  margin-right: 8px;
}
