.rds-demos {
  position: relative;
  padding-top: 68px;

  .container {
    position: relative;

    >*:not(.terminals) {
      z-index: 2;
      position: relative;
    }
  }

  .terminals {
    position: relative;

    &:not(:first-child) {
      margin-top: 75px;
    }

    .code {
      position: absolute;
      top: -37px;
      left: -109px;
      height: 477.5px;
      user-select: none;
    }
  }

  .terminal {
    z-index: 2;
    position: relative;

    &.right {
      margin-top: 60px;
    }

    .terminal-header {
      position: relative;
      height: 36px;
      border-radius: 10px 10px 0 0;
      background-color: $secondary-black;

      svg {
        position: absolute;
        top: 50%;
        left: 17px;
        transform: translateY(-50%);
      }
    }

    .terminal-body {
      padding: 36px 69px 40px;
      min-height: 280px;
      border-radius: 0 0 10px 10px;
      border: 2px dashed $purple;
      border-top: none;
      background-color: $white;

      .title {
        margin: 0;
        line-height: 1;
        font-size: 26px;
      }

      .links {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 1.45;

        &:not(:first-child) {
          margin-top: 30px;
        }

        li {
          &:not(:first-child) {
            margin-top: 10px;
          }
        }

        a {
          text-decoration: underline;
          color: $primary-blue;
          transition: color .2s ease-in-out;

          &:hover {
            color: $purple;
          }
        }
      }
    }
  }
}
