.footer {
  position: relative;
  padding: 0;
  overflow: hidden;
  background-color: $primary-black;

  .container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 38px;

    @include mobile {
      padding-top: 47px;
      padding-bottom: 44px;
    }

    .shape {
      position: absolute;
      bottom: 0;
      left: -533px;

      @include mobile {
        display: none;
      }
    }

    .code {
      position: absolute;
      top: 8px;
      right: -145px;
      height: 338px;
      user-select: none;

      @include mobile {
        zoom: .8;
        top: 15px;
        right: -55px;
      }
    }

    .row {
      z-index: 2;
      position: relative;
    }
  }

  &__logo-ctr { margin-top: -3px; }

  &__logo-tagline { font-family: $roboto; font-weight: 600; margin-left: 5px; }

  &__logo {
    display: block;
    margin: 5px 0 0 0;
    max-width: none;
    width: 160px;
    height: auto;
  }

  &__title {
    margin-bottom: 14px;
    line-height: 1.25;
    font-size: 14.5px;
    font-weight: 600;

    @include tablet-mobile {
      margin-bottom: 22px;
    }
  }

  &__links {
    margin-bottom: 0;

    @include tablet-mobile {
      margin-top: 45px;
    }
  }

  &__col {
    margin-bottom: 0 !important;

    @include tablet {
      --ifm-col-width: 33.33% !important;
    }

    @include mobile {
      --ifm-col-width: 50% !important;
    }
  }

  &__items {
    @include desktop {
      max-width: 168px;
    }
  }

  &__item {
    &:not(:first-child) {
      margin-top: 3px;

      @include tablet-mobile {
        margin-top: 15px;
      }
    }
  }

  &__link-item {
    text-decoration: none;
    line-height: 1.1;
    font-size: 14.5px;
    color: $white;
    transition: color .2s ease-in-out;

    &:hover {
      color: $white;
    }
  }

  &__copyright {
    z-index: 2;
    position: relative;
    margin-top: 36px;
    text-align: center;
    line-height: 1.25;
    font-size: 12px;
    color: $grey;

    @include tablet-mobile {
      margin-top: 42px;
    }
  }
}
