.rds-hero {
  margin-top: -63px;
  padding: 114px 0 65px;
  border-radius: 0 0 10px 10px;
  background-color: $primary-blue;
  color: $white;

  @media only screen and (min-width: 997px) and (max-width: 1100px) {
    padding-left: 15px;
    padding-right: 15px;

    .row {
      flex-wrap: nowrap;
    }

    .col--7 {
      min-width: 665px;
    }

    .col--5 {
      flex: 1 !important;
      max-width: none !important;
    }
  }

  @include mobile {
    padding: 71px 0 62px;
  }

  .row {
    align-items: center;

    .col {
      @include tablet-mobile {
        &:first-child {
          order: 2;
        }

        &:last-child {
          order: 1;
        }
      }
    }
  }

  .hero-title {
    margin: 0;
    line-height: 1.1;
    font-size: 50px;
    font-weight: 500;

    @include tablet-mobile {
      text-align: center;
    }

    @include mobile {
      line-height: 1.25;
      font-size: 32px;
    }
  }

  .hero-subtitle {
    margin: 17px 0 0 0;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;

    @include tablet-mobile {
      text-align: center;
    }

    @include mobile {
      margin-top: 13px;
      font-size: 14px;
    }
  }

  .boxes {
    display: flex;
    margin-top: 42px;

    @include mobile {
      flex-direction: column;
      margin-top: 36px;
    }

    .box {
      flex: 1;
      position: relative;
      border: 1px dashed $red;
      border-radius: 3px;
      transition: background-color .2s ease-in-out;

      @include mobile {
        margin: 0 auto;
        max-width: 282px;
      }

      &:hover {
        background-color: $red;
      }

      &:not(:first-child) {
        @include desktop-tablet {
          margin-left: 12px;
        }

        @include mobile {
          margin-top: 25px;
        }
      }

      .bg {
        display: none;
        position: absolute;
      }

      &.box-create .bg {
        top: 0;
        left: 13px;
      }

      &.box-develop .bg {
        top: 9px;
        left: 5px;
      }

      &.box-explore .bg {
        top: 15px;
        left: 43px;
      }

      .icon {
        display: flex;
        align-items: center;
        padding: 5px 21px 0;
        height: 69px;

        @include mobile {
          justify-content: center;
        }

        svg {
          @include mobile {
            zoom: 1.1;
          }
        }
      }

      .text {
        padding: 0 16px 23px 21px;

        @include mobile {
          padding-bottom: 25px;
        }

        .title {
          margin: 0;
          line-height: 1.5;
          font-size: 18px;
          font-weight: 400;

          @include mobile {
            text-align: center;
            line-height: 1.2;
            font-size: 22px;
          }
        }

        .description {
          margin: 5px 0 0 0;
          line-height: 1.5;
          font-size: 14.5px;

          @include mobile {
            margin-top: 10px;
            text-align: center;
            line-height: 1.6;
            font-size: 16px;
          }
        }

        .more {
          display: flex;
          align-items: center;
          margin-top: 14px;
          line-height: 1.2;
          font-size: 14.5px;
          font-weight: 700;

          @include mobile {
            justify-content: center;
            font-size: 16px;
          }

          svg {
            margin-left: 8px;
            flex: 0 0 14px;

            path {
              transition: fill .2s ease-in-out;
            }
          }
        }
      }

      &:hover .text .more svg path {
        fill: $white;
      }

      .link {
        z-index: 5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        text-indent: -9999px;
        cursor: pointer;
      }
    }
  }

  .illustration {
    max-width: 100%;

    @include desktop {
      margin-left: 66px;
    }

    @media only screen and (min-width: 997px) and (max-width: 1100px) {
      float: right;
      margin-left: 0;
      zoom: .8;
    }

    @include tablet-mobile {
      display: block;
      margin: 0 auto 48px;
      zoom: .48;
    }
  }
}
