.rds-hero {
  margin-top: -63px;
  padding: 114px 0 65px;
  border-radius: 0 0 10px 10px;
  background-color: $primary-blue;
  color: $white;

  .row {
    align-items: center;
  }

  .hero-title {
    margin: 0;
    line-height: 1.1;
    font-size: 50px;
    font-weight: 500;
  }

  .hero-subtitle {
    margin: 17px 0 0 0;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 400;
  }

  .boxes {
    display: flex;
    margin-top: 42px;

    .box {
      flex: 1;
      position: relative;
      border: 1px dashed $red;
      border-radius: 3px;
      transition: background-color .2s ease-in-out;

      &:hover {
        background-color: $red;
      }

      &:not(:first-child) {
        margin-left: 12px;
      }

      .bg {
        display: none;
        position: absolute;
      }

      &.box-create .bg {
        top: 0;
        left: 13px;
      }

      &.box-develop .bg {
        top: 9px;
        left: 5px;
      }

      &.box-explore .bg {
        top: 15px;
        left: 43px;
      }

      .icon {
        display: flex;
        align-items: center;
        padding: 5px 21px 0;
        height: 69px;
      }

      .text {
        padding: 0 16px 23px 21px;

        .title {
          margin: 0;
          line-height: 1.5;
          font-size: 18px;
          font-weight: 400;
        }

        .description {
          margin: 5px 0 0 0;
          line-height: 1.5;
          font-size: 14.5px;
        }

        .more {
          display: flex;
          align-items: center;
          margin-top: 9px;
          line-height: 1.2;
          font-size: 14.5px;
          font-weight: 700;

          svg {
            margin-left: 8px;

            path {
              transition: fill .2s ease-in-out;
            }
          }
        }
      }

      &:hover .text .more svg path {
        fill: $white;
      }

      .link {
        z-index: 5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        text-indent: -9999px;
      }
    }
  }

  .illustration {
    display: block;
    margin-left: 66px;
    max-width: 100%;
  }
}
