.navbar-sidebar--show .navbar-sidebar {
  box-shadow: 0 5px 40px rgba($primary-black, 0.5);
}

.navbar-sidebar {
  background-color: $primary-black;
  box-shadow: none;

  &__backdrop {
    background-color: rgba($primary-blue, 0.5);
  }

  &__brand {
    box-shadow: none;
  }

  &__items {
    margin-top: 15px;
    padding: 0;
  }

  .menu {
    &__list-item {
      margin: 0;

      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    &__link {
      padding: 5px 15px;
      border-radius: 0;
      background-color: transparent;
      font-size: 17px;
      color: $white;
    }
  }
}

.navbar {
  padding: 14px 15px;
  height: auto;
  border-radius: 0 0 10px 10px;
  background-color: $primary-blue;
  box-shadow: none;

  &__toggle {
    margin-right: 18px;
  }

  &__brand,
  &__logo {
    // width: 168px !important;
    //  height: auto !important;
    @include mobile {
      display: none;
    }
  }

  &__link {
    padding: 7px 21px 8px;
    line-height: 1;
    font-size: 17px;
    color: $white !important;

    &:hover {
      text-decoration: underline;
    }
  }

  .DocSearch-Button-Container {
    @include mobile {
      justify-content: center;
      width: 100%;
    }
  }

  .DocSearch-Button {
    margin-left: 19px;
    padding: 0 13px;
    width: 202px;
    height: 32px;
    box-shadow: none !important;
    border-radius: 21px;
    background-color: $zircon;

    @include mobile {
      padding: 0;
      width: 32px;
    }

    .DocSearch-Search-Icon {
      width: 16px;
      height: 16px;
    }

    .DocSearch-Button-Placeholder {
      margin-left: 8px;
      padding: 0;
      line-height: 1;
      font-family: $lato;
      font-size: 14px;
      color: $primary-blue;
    }

    .DocSearch-Button-Key {
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
