.rds-resources {
  margin-top: 75px;
  padding: 80px 0 85px;
  border-radius: 10px;
  background-color: $primary-blue;

  .articles {
    margin-top: 77px;

    .article {
      position: relative;
      height: 100%;
      transition: transform .2s ease-in-out;

      &:hover {
        transform: translateY(-5px);

        &:before {
          opacity: 1;
        }

        .article-wrapper {
          box-shadow: 12px 11px 6px rgba($primary-black, .17);
        }
      }

      &:before {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 100%;
        height: 100%;
        opacity: 0;
        border-radius: 10px;
        background-color: $purple;
        transition: opacity .2s ease-in-out;
        content: '';
      }

      .article-wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 100%;
        transition: box-shadow .2s ease-in-out;
      }

      .thumb {
        display: block;
        width: 100%;
        height: 187px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
      }

      .article-body {
        flex: 1;
        padding: 20px 25px 25px;
        border-radius: 0 0 10px 10px;
        background-color: $white;

        .type {
          display: block;
          text-transform: uppercase;
          line-height: 1.25;
          letter-spacing: 1px;
          font-size: 14.5px;
          font-weight: 900;
          color: $red;
        }

        .title {
          margin: 0;
          line-height: 1.35;
          font-size: 18px;
          font-weight: 600;

          &:not(:first-child) {
            margin-top: 4px;
          }
        }
      }

      .link {
        z-index: 5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;
        text-indent: -9999px;
      }
    }
  }

  .cta {
    margin-top: 55px;
    text-align: center;

    .btn {
      display: inline-block;
      padding: 11px 32px 12px;
      border-radius: 3px;
      background-color: $red;
      text-decoration: none;
      line-height: 1;
      letter-spacing: 0.25px;
      font-size: 14px;
      font-weight: 700;
      color: $white;
    }
  }
}
