:root {
  --ifm-menu-link-padding-vertical: 5px;
  --ifm-menu-link-padding-horizontal: 15px;
  --ifm-menu-color: var(--black);
  --ifm-menu-color-active: var(--purple);
  --ifm-menu-color-background-active: var(--purple-light);
  --ifm-menu-color-background-hover: var(--purple-light);
  --ifm-toc-border-color: var(--grey-light);

  --ifm-link-color: var(--purple);

  --ifm-hr-border-color: var(--grey-light);
  --ifm-hr-border-width: 1px;

  --ifm-toc-padding-vertical: 15px;
  --ifm-toc-link-color: var(--black);

  --ifm-table-stripe-background: var(--purple-lighter);
  --ifm-table-border-color: var(--grey-light);
  --ifm-table-cell-color: var(--black);

  --ifm-blockquote-padding-vertical: 15px;
  --ifm-blockquote-padding-horizontal: 15px;
  --ifm-blockquote-color: var(--black);

  --ifm-tabs-color: var(--black);
  --ifm-tabs-color-active: var(--purple);

  --ifm-code-color: var(--black);
}

html[data-theme="dark"] {
  --ifm-menu-color: var(--white);
  --ifm-menu-color-active: #829EF0;
  --ifm-menu-color-background-active: #181D27;
  --ifm-menu-color-background-hover: #181D27;
  --ifm-toc-border-color: #676768;
  --ifm-toc-link-color: var(--white);
  --ifm-tabs-color: var(--white);
  --ifm-code-color: var(--white);
  --ifm-table-cell-color: var(--white);
  --ifm-blockquote-color: var(--white);
}

hr {
  border-bottom: 0;
}

.menu {
  &__list-item {
    margin: 5px 0;
  }

  &__link {
    border-radius: 4px;
    font-size: 15px;
  }

  &__link--active {
    font-weight: 700;
  }

  &__button {
    background-color: $purple !important;

    svg {
      path {
        stroke: $white !important;
      }
    }

    span {
      color: $white !important;
    }
  }
}

.table-of-contents {
  display: table;
  padding: 0;
  border-width: 3px;
  line-height: 1.2;
  font-size: 14px;

  ul {
    padding: 0;
  }

  li {
    margin-right: 0;
    line-height: 1.5;
  }

  &__link {
    &:hover {
      color: $purple;
    }

    &--active {
      position: relative;
      font-weight: 700;
      color: $purple;

      @include dark {
        color: #829EF0;
      }

      &:before {
        position: absolute;
        top: 0;
        left: -18px;
        width: 3px;
        height: 100%;
        background-color: $purple;
        content: '';

        @include dark {
          background-color: #829EF0;
        }
      }
    }

    &:hover {
      @include dark {
        color: #829EF0;
      }
    }

    code {
      color: $black !important;

      @include dark {
        color: $white !important;
      }
    }
  }

  >li>ul>li>.table-of-contents__link--active:before {
    left: -33px;
  }

  >li>ul>li>ul>li>.table-of-contents__link--active:before {
    left: -48px;
  }
}

blockquote {
  border-left: 5px solid #dbdada;

  @include dark {
    border-color: #676768;
    color: $white;
  }
}

main:not(.home-main) {
  a {
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:hover {
      color: $purple-hover;

      @include dark {
        color: #829EF0;
      }
    }
  }

  article {
    header {
      h1 {
        line-height: 1.2;
        font-family: $lato;
        font-size: 49px;

        @include mobile {
          font-size: 39px;
        }

        @include dark {
          color: $white;
        }
      }
    }
  }
}

.markdown {
  color: $black;

  @include dark {
    color: $white;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $lato;
    font-weight: 700;
  }

  h1 {
    line-height: 1.2;
    font-size: 49px;

    @include mobile {
      font-size: 39px;
    }
  }

  h2 {
    line-height: 1.2;
    font-size: 38px;

    @include mobile {
      font-size: 28px;
    }
  }

  h3 {
    line-height: 1.2;
    font-size: 32px;

    @include mobile {
      font-size: 22px;
    }
  }

  h4 {
    line-height: 1.5;
    font-size: 25px;

    @include mobile {
      font-size: 20px;
    }
  }

  h5 {
    line-height: 1.45;
    font-size: 20px;

    @include mobile {
      font-size: 18px;
    }
  }

  h6 {
    line-height: 1.6;
    font-size: 18px;

    @include mobile {
      font-size: 16px;
    }
  }

  >img,
  >p>img,
  div[role="tabpanel"]>img,
  div[role="tabpanel"]>p>img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 20px rgba($black, .17);
  }

  .has-small-images {

    >img,
    >p>img {
      max-width: 50%;
    }
  }
}

.admonition {
  padding: 15px 25px;

  .admonition-icon {
    display: none;
  }

  h5 {
    text-transform: none;
  }
}

.pagination-nav {
  &__link {
    border: none;
    background-color: $purple;
    color: $white;
    transition: background-color .2s ease-in-out;

    &:hover {
      background-color: $purple-hover;
    }
  }

  &__sublabel {
    color: $white;
  }

  &__label {
    color: $white;
  }
}

.tabs {
  border-bottom: 1px solid $grey-light;

  @include dark {
    border-color: #676768;
  }

  &__item {
    margin-top: 0 !important;
    padding: 0 10px 10px;
    border-radius: 0;
    line-height: 1;
    font-size: 17px;
    transition: color .2s ease-in-out;

    @include dark {
      color: $white;
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &:hover {
      background-color: transparent;
      color: $purple-hover !important;

      @include dark {
        color: #829EF0 !important;
      }
    }

    &--active {
      color: var(--ifm-tabs-color-active) !important;
    }
  }
}

.orchestration {
  .ri-container {
    .ri-detail {
      padding-top: 2.5rem;
      position: relative;
      &:before {
        background: url("/img/orchestrating-icon-black.svg") no-repeat;
        background-size: contain;
        content: '';
        height: 40px;
        left: 0;
        position: absolute;
        top: 0;
        width: 40px;

        html[data-theme="dark"] & {
          background: url("/img/orchestrating-icon.svg") no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.provisioning {
  @extend .orchestration;

  .ri-container {
    .ri-detail {
      &:before {
        background: url("/img/provisioning-icon-black.svg") no-repeat;
        background-size: contain;

        html[data-theme="dark"] & {
          background: url("/img/provisioning-icon.svg") no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.observability {
  @extend .orchestration;

  .ri-container {
    .ri-detail {
      &:before {
        background: url("/img/observability-icon-black.svg") no-repeat;
        background-size: contain;

        html[data-theme="dark"] & {
          background: url("/img/observability-icon.svg") no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.continuous {
  @extend .orchestration;

  .ri-container {
    .ri-detail {
      &:before {
        background: url("/img/ci-cd-icon-black.svg") no-repeat;
        background-size: contain;

        html[data-theme="dark"] & {
          background: url("/img/ci-cd-icon.svg") no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.ri-container {
  position: relative;
  margin-bottom: 30px;
  padding: 20px;
  height: calc(100% - 30px);
  border: 2px solid #E5E5E5;
  box-shadow: 0px 4px 7px rgba(196, 196, 196, .5);
  transition: border-color .2s ease-in-out;

  @include dark {
    background-color: #2a2c2d;
    border-color: #2a2c2d;
    box-shadow: none;
    color: $white;
  }

  &.ri-link:hover {
    border-color: $purple;

    @include dark {
      border-color: $purple-hover;
      background-color: #2a2b2d;
    }
  }

  .ri-card-link {
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    text-indent: -9999px;
  }

  .ri-icon {
    display: none;
  }

  .ri-detail {
    width: 100%;
  }

  .ri-title {
    &:not(h1):not(h2):not(h3):not(h4):not(h5):not(h6) {
      line-height: 1.6;
      font-size: 18px;
    }

    a {
      color: $black;

      @include dark {
        color: $white;

        &:hover {
          color: #829EF0;
        }
      }
    }
  }

  .ri-description {
    line-height: 1.8;
    font-size: 16px;
    color: $black;

    @include dark {
      color: $white;
    }

    img {
      margin-top: 15px;
    }
  }

  img {
    max-width: 50%;
  }
}

code {
  border-radius: 4px;
  background-color: $purple-light;

  @include dark {
    background-color: #3E44AC;
  }
}

iframe {
  max-width: 100%;
  box-shadow: 0 2px 20px rgba($black, .17);
}

.sidebar-logo {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 60px;

  img {
    height: 26px;
  }
}
