$primary-blue: #161F31;
$secondary-blue: #0565FF;
$red: #DC382C;
$white: #FFFFFF;
$black: #000000;
$primary-black: #0C0E10;
$secondary-black: #2E2E2E;
$zircon: #F8FAFF;
$grey: #707070;
$grey-light: #E0DFDF;
$purple: #5961FF;
$purple-hover: #3F41A0;
$purple-light: #F2F5FE;
$purple-lighter: #F9FAFF;

$lato: 'Lato',
sans-serif;

$roboto: 'Roboto Mono',
monospace;

:root {
  --primary-blue: #161F31;
  --secondary-blue: #0565FF;
  --red: #DC382C;
  --white: #FFFFFF;
  --black: #000000;
  --primary-black: #0C0E10;
  --secondary-black: #2E2E2E;
  --zircon: #F8FAFF;
  --grey: #707070;
  --grey-light: #E0DFDF;
  --purple: #5961FF;
  --purple-hover: #3F41A0;
  --purple-light: #F2F5FE;
  --purple-lighter: #F9FAFF;
}
