h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto;
}

// section-title
.section-title {
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 38px;
  font-weight: 600;

  &.white {
    color: $white;
  }
}

// section-description
.section-description {
  margin: 0;
  text-align: center;
  line-height: 1.25;
  font-family: $lato;
  font-size: 18px;
  font-weight: 400;

  &:not(:first-child) {
    margin-top: 11px;
  }

  &.white {
    color: $white;
  }
}
