h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $roboto;
}

// section-title
.section-title {
  z-index: 2;
  position: relative;
  margin: 0;
  text-align: center;
  line-height: 1.15;
  font-size: 38px;
  font-weight: 600;

  @include mobile {
    font-size: 32px;
  }

  @include dark {
    color: $white;
  }

  &.white {
    color: $white;
  }

  br {
    @include desktop-tablet {
      display: none;
    }
  }
}

// section-description
.section-description {
  margin: 0;
  text-align: center;
  line-height: 1.25;
  font-family: $lato;
  font-size: 18px;
  font-weight: 400;

  @include mobile {
    line-height: 1.6;
    font-size: 16px;
  }

  @include dark {
    color: $white;
  }

  &:not(:first-child) {
    margin-top: 11px;

    @include mobile {
      margin-top: 14px;
    }
  }

  &.white {
    color: $white;
  }
}
